---
import HeroLayout from "../layouts/HeroLayout.astro";
---

<HeroLayout>
  <main class="py-10 sm:px-10 sm:p-10 text-left ubuntu_mono_font">
    <h2
      class="lg:px-16 md:px-8 md:text-left text-center px-2 mt-10 vina_font text-5xl py-5 text-tMenuDark"
    >
      TOOLS
    </h2>
    <section class="px-2 lg:px-16 md:px-8 text-xl">
      This is a collection of tools, languages && services I use in my
      day-to-day projects. Of course, these are not suggestions on what YOU
      should use, just more of a log of tools that have my heart at the moment.
    </section>
    <section class="px-2 lg:px-16 md:px-8 text-xl">
      <h2
        class="lg:px-16 md:px-8 md:text-left text-center px-2 mt-10 vina_font text-5xl py-5 text-tMenuDark"
      >
        TOOLS
      </h2>
    </section>
  </main>
</HeroLayout>
