---

---

<div class="w-full h-80 rounded-lg overflow-hidden" id="matterContainer"></div>

<script>
  import {
    Engine,
    Render,
    Runner,
    Body,
    Bodies,
    Common,
    Composite,
    Composites,
    Mouse,
    MouseConstraint,
    Events,
  } from "matter-js";
  import type { IBodyDefinition } from "matter-js";
  const container = document.querySelector<HTMLDivElement>("#matterContainer")!;
  const engine = Engine.create();
  const render = Render.create({
    element: container,
    engine: engine,
    options: {
      width: container.clientWidth,
      height: container.clientHeight,
      background: "#EEECEC",
      wireframes: false,
    },
    bounds: {
      max: {
        x: container.clientWidth,
        y: container.clientHeight,
      },
      min: {
        x: 0,
        y: 0,
      },
    },
  });

  const boxA = Bodies.rectangle(400, 200, 80, 80, {
    render: {
      fillStyle: "transparent",
      strokeStyle: "#69636D",
      lineWidth: 1,
    },
  });
  const boxB = Bodies.rectangle(450, 50, 80, 80, {
    render: {
      fillStyle: "transparent",
      strokeStyle: "#69636D",
      lineWidth: 1,
    },
  });
  const ground = Bodies.rectangle(
    container.clientWidth / 2,
    container.clientHeight - 30,
    container.clientWidth,
    60,
    {
      isStatic: true,
      render: {
        fillStyle: "transparent",
        strokeStyle: "#69636D",
        lineWidth: 1,
      },
    }
  );

  Composite.add(engine.world, []);

  Render.run(render);

  const runner = Runner.create();
  Runner.run(runner, engine);

  window.addEventListener("resize", () => {
    render.bounds.max.x = container.clientWidth;
    render.bounds.max.y = container.clientHeight;
    render.options.width = container.clientWidth;
    render.options.height = container.clientHeight;
    render.canvas.width = container.clientWidth;
    render.canvas.height = container.clientHeight;
    Render.setPixelRatio(render, window.devicePixelRatio); // added this
  });

  const radius = 15;
  const columnGap = 10;
  const rowGap = 10;
  const boxWidth = columnGap + radius * 2;
  const cols = Math.ceil(container.clientWidth / boxWidth) + 2;
  const rows = Math.ceil(container.clientHeight / boxWidth) + 2;
  console.log(cols, rows);
  const cloth = compCloth(
    -radius * 2,
    -radius * 2,
    cols,
    rows,
    columnGap,
    rowGap,
    false,
    radius
  );
  for (let i = 0; i < cols; i++) {
    cloth.bodies[i].isStatic = true;
  }
  for (let i = 0; i < cols * rows; i++) {
    if (i % cols == 0) {
      cloth.bodies[i].isStatic = true;
      cloth.bodies[i + cols - 1].isStatic = true;
    }
  }
  for (let i = cols * rows - cols; i < cols * rows; i++) {
    cloth.bodies[i].isStatic = true;
  }
  Composite.add(engine.world, [cloth]);

  const mouse = Mouse.create(render.canvas),
    mouseConstraint = MouseConstraint.create(engine, {
      mouse: mouse,
      constraint: {
        stiffness: 0.98,
        render: {
          visible: false,
        },
      },
    });
  Composite.add(engine.world, mouseConstraint);
  render.mouse = mouse;
  Render.lookAt(render, {
    min: { x: 0, y: 0 },
    max: { x: container.clientWidth, y: container.clientHeight },
  });

  function compCloth(
    xx: number,
    yy: number,
    columns: number,
    rows: number,
    columnGap: number,
    rowGap: number,
    crossBrace: boolean,
    particleRadius: number,
    particleOptions?: IBodyDefinition,
    constraintOptions?: boolean
  ) {
    var group = Body.nextGroup(true);

    constraintOptions = Common.extend(
      {
        stiffness: 0.6,
        render: {
          type: "line",
          lineWidth: 0,
          anchors: false,
          strokeStyle: "#232124",
          background: "blue",
        },
      },
      false
    );

    var cloth = Composites.stack(
      xx,
      yy,
      columns,
      rows,
      columnGap,
      rowGap,
      function (x: number, y: number) {
        const randomHSLColor = `hsl(${360 * Math.random()} , 0%, ${
          60 + Math.random() * 30
        }%)`;
        particleOptions = Common.extend(
          {
            inertia: Infinity,
            friction: 0.00001,
            collisionFilter: { group: group },
            render: { fillStyle: randomHSLColor },
          },
          false
        );
        return Bodies.circle(x, y, particleRadius, particleOptions);
      }
    );

    Composites.mesh(cloth, columns, rows, crossBrace, constraintOptions);

    cloth.label = "Cloth Body";

    return cloth;
  }

  container.addEventListener("mouseleave", () => {
    const ev = new Event("mouseup");
    mouseConstraint.mouse.element.dispatchEvent(ev);
  });

  /**
   * mouse.mousewheel is missing in types, in fact all sourceEvents are
   * PR time?
   * https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/matter-js/index.d.ts#L3229
   */
  mouseConstraint.mouse.element.removeEventListener(
    "mousewheel",
    (mouse as any).mousewheel
  );
</script>
