<>
  <!-- Primary Meta Tags -->
  <title>tochi bedford | dev</title>
  <meta name="title" content="tochi bedford | dev" />
  <meta name="description" content="tochi bedford's developer portfolio" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dev.tochibedford.com/" />
  <meta property="og:title" content="tochi bedford | dev" />
  <meta
    property="og:description"
    content="tochi bedford's developer portfolio"
  />
  <meta property="og:image" content="/favicon.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://dev.tochibedford.com/" />
  <meta property="twitter:title" content="tochi bedford | dev" />
  <meta
    property="twitter:description"
    content="tochi bedford's developer portfolio"
  />
  <meta property="twitter:image" content="/favicon.png" />
</>
