---
import { navMenuItems, socialItems } from "../staticData";
import menuIcon from "./assets/menu.svg";
import closeIcon from "./assets/close.svg";
---

<nav
  class="bg-tMenuBack p-2 rounded-lg h-16 flex items-center gap-2 drop-shadow-[7px_7px_0px_#2225]"
>
  <button
    class="group h-full grid place-items-center w-12 bg-tMenuItemBack rounded-md"
    id="menuBurgerContainer"
  >
    <div class="w-5 h-5 overflow-hidden flex relative pointer-events-none">
      <img
        id="burger"
        src={menuIcon.src}
        alt="burger menu"
        class={"w-5 h-5 group-hover:scale-90 transition-transform absolute left-0"}
      />
      <img
        id="close"
        src={closeIcon.src}
        alt="burger menu"
        class={"w-5 h-5 group-hover:scale-90 transition-transform translate-x-full absolute left-0"}
      />
    </div>
  </button>
  {
    socialItems.map((social) => (
      <a
        class="group h-full grid place-items-center w-12 bg-tMenuItemBack rounded-md cursor-pointer"
        target="_blank"
        href={social.link}
      >
        <img
          src={social.image.src}
          alt="burger menu"
          class="w-full h-full group-hover:scale-90 transition-transform"
        />
      </a>
    ))
  }
</nav>

<script>
  const menuBurgerContainerEl = document.getElementById("menuBurgerContainer");
  const burgerEl = document.getElementById("burger");
  const closeEl = document.getElementById("close");
  let menuOpen = false;

  menuBurgerContainerEl?.addEventListener("click", () => {
    console.log(menuOpen);
    if (!menuOpen && burgerEl && closeEl) {
      burgerEl.style.transform = "translate(-100%, 0%)";
      closeEl.style.transform = "translate(0%, 0%)";
    } else if (menuOpen && burgerEl && closeEl) {
      closeEl.style.transform = "translate(100%, 0%)";
      burgerEl.style.transform = "translate(0%, 0%)";
    }
    menuOpen = !menuOpen;
  });
</script>
