---
import HeroBanner from "../components/HeroBanner.astro";
import "@fontsource/vina-sans";
import "@fontsource/ubuntu-mono";
import Navbar from "../components/Navbar.astro";
---

<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="min-h-screen bg-tOffWhite selection:bg-tHighlight selection:text-tOffWhite"
  >
    <HeroBanner />
    <div class="w-full p-5">
      <div class="bg-tWhiteBright rounded-xl min-h-[200px] container mx-auto">
        <slot />
      </div>
    </div>
    <section class="sticky bottom-2 flex py-2 justify-center">
      <Navbar />
    </section>
  </body>
</html>

<style is:global>
  .vina_font {
    font-family: "Vina Sans", sans-serif;
  }
  .ubuntu_mono_font {
    font-family: "Ubuntu Mono", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #69636d;
    border-radius: 9px;
  }
</style>
