---
import HeroBanner from "../components/HeroBanner.astro";
import "@fontsource/vina-sans";
import "@fontsource/ubuntu-mono";
---

<html lang="en" class="h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="h-screen bg-tOffWhite selection:bg-tHighlight selection:text-tOffWhite"
  >
    <HeroBanner />
    <div class="w-full p-5">
      <div class="bg-tWhiteBright rounded-xl min-h-[200px] container mx-auto">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  .vina_font {
    font-family: "Vina Sans", sans-serif;
  }
  .ubuntu_mono_font {
    font-family: "Ubuntu Mono", sans-serif;
  }
</style>
